@model List<MandoTestAPI.Models.ClassReport>

<h1>Class Registration Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>Class</th>
            <th>Teacher Name</th>
            <th>Registrations</th>
            <th>Number Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Class</td>
                <td>@item.TeacherName</td>
                <td>@item.Registrations</td>
                <td>@item.NumberPaid</td>
            </tr>
        }
    </tbody>
</table>
